.btn-own{
    background-color: #4C8754;
    border-radius: 20px;
    padding: 0px 9px;
    color: #F1F1F1;
    margin-top: 8%;
    font-weight: 300;
}

.my-icon{
    margin: 5px;
    color: black;
}

.s-margin{
    margin-right: 4%;
}

.dark-modal{
    background-color: #4C8754;
}

.navbar-brand{
    padding-left: 50px;
}

h1{
    font-size: larger;
    color: #F1F1F1;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 20px;
  }
  
}
